@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
    font-family: "JetBrainsMono-Light";
    src: url(fonts/JetBrainsMono/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url(fonts/JetBrainsMono/JetBrainsMono-SemiBold.ttf);
}

/* fonts */
h1 {
    font-family: "JetBrainsMono", monospace;
    color: #ffffff;
    font-size: 10rem;
	position: relative;
	z-index: 50;
}

h2 {
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-size:2.5rem;
    color: #190071;
    border: 6px solid #190071;
    background-color: #DE76AC;
    border-radius:35px;
    width:fit-content;
    padding: 8px 25px;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
	flex-direction: column;
	align-items: center;
	font-weight: 800;
	display: flex;
	justify-content: center;
    color:#190071;
}


h4 {
    font-family: "Nunito", sans-serif;
    font-size: 24pt;
	max-width: 55%;
	padding-top: 20px;
}

h5 {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#190071;
    max-width: 60%;
}

p {
	font-family: "Nunito", sans-serif;
    font-size: 22pt;
    list-style-type: circle;
    color: #190071;
    line-height: 40px;
	margin-bottom: 20px;
}

ul li {
    font-family: "Nunito", sans-serif;
    font-size: 22pt;
    list-style-type: circle;
    color: #190071;
    line-height: 30px;
	margin-bottom: 20px;
}

body {
    margin:0;
    overflow-x:hidden;
    cursor: url(img/svg/llavecursor.svg), auto;
}

nav ul li {
    list-style-type: none;
    display:inline;
}

.botonera li a {
    text-decoration: none;
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-weight: bolder;
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding: 12px 50px;
    border-radius: 30px;
    border: 4px solid white;
    transition: 1s ease;
}

.botonera li a:hover {
    font-weight: bolder;
    color:#190071;
    background-color: #DE76AC;
}

.botonera img {
	display: flex;
	align-items: center;
	margin: 4px 0px 0px 100px;
}

.botonera {
	list-style: none;
	display: flex;
	flex-direction: row;
    align-items: center;
}

nav.botonera {
    padding:35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #190071;
}

.corazones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #DE76AC;
}

.corazon {
    animation:rotate infinite 6s linear;
}

.corazones-otros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #ffffff
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ------------------INICIO-INDEX------------------*/

/* PRESENTACIÓN */
.home {
    align-self: flew-start;
    margin-right:auto;
    padding: 0px 50px;
}

.h-index {
    height:820px;
    background-color: #190071;
    height: 900px;
}

.titular {
    background: linear-gradient(270deg, #190071, #DE76AC);
    background-size: 200% 200%;
    animation: backgroundAnimation 6s ease infinite;
    padding-top: 105px;
	padding-bottom: 105px;
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Animación de movimiento del degradado */
@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* FIN-PRESENTACIÓN */

/* SOBREMI */
.h-sobremi {
    background-color: #ffffff;
    margin-bottom: 120px;
    padding: 25px;
}

.imagensobremi img {
    width: 450px;
    border-radius: 50px;
    transition:transform 2s ease;
    margin-left: 100px;
	align-content: center;
}

.imagensobremi img:hover {
    transform:scale(1.1);
}

.contenedor ul li {
    font-weight: 600;
}

.descripcion {
    font-family: "Nunito", sans-serif;
    font-size: 16pt;
    line-height: 20pt;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 5px;
    text-align: left;
}

.contenedor {
    display: flex;
    padding-top: 90px;
    justify-content: center;
    padding-bottom: 220px;
}

.descripcion {
    height: 50px;
    width: 1050px;
    margin-right: 20px;
}

.contenedores-sobremi {
	display: flex;
	flex-direction: row;
	column-gap: 8%; 
	padding: 50px 50px 70px 50px;
	justify-content: center; 
}

.lineas-position-sobremi {
	position: absolute;
	z-index: 1;
	left: -50px;
	top: 1173px;
}

.caja-izq-sobremi {
	display: flex;
	flex-direction: column;
	max-width: 38%;
	z-index: 5;
}

.caja-der-sobremi {
	display: flex;
	flex-direction: column;
	z-index: 6;
}
/* FIN-SOBREMI */

/*PROYECTOSDESTACADOS*/
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.cont-proyecto-indiv {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.proyectos-destacados {
    background-color: #190071;
    padding: 40px 57px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.tituloprincipal {
    font-weight: 600;
    margin-bottom: 40px; 
    text-align: center; 
    width:100%;
}

.cont-proyecto-indiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.img-proyectos {
    max-width: 70%;
    height: auto;
}

.cont-proyecto-indiv img {
    margin: 20px 12px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    border-radius: 35px;
}

.cont-proyecto-indiv img:hover {
    transform: scale(1.08);
}

.epigrafe {
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    margin-top: 30px;
    max-width: 50%;
}
/*FIN-PROYECTOSDESTACADOS*/

/*OTROSPROYECTOS*/
#galeria {
    margin-top: 40px; 
    padding: 20px; 
}

#galeria h3 {
    margin-bottom: 20px; 
    text-align: center;
}

ol[aria-label=Photographs] {
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: .900rem;
    padding: 20px 0px 60px 0px;
}

.ol-cont-galeria li:hover .image-container img {
    filter: grayscale(100%); 
    opacity: 5.5; 
}

ol[aria-label=Photographs] img:hover {
    transform: scale(1.08);
}

ol[aria-label=Photographs] img {
    display: block;
    max-width: 100%;
    width: 42rem;
    height: auto;
    contain: layout;
	border-radius: 35px;
	transition: transform 0.5s ease;
}

.ol-cont-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.ol-cont-galeria li {
    position: relative; 
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: all 0.3s ease; 
    border-radius: 10px; 
}

.image-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 24px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    font-family: "Nunito", sans-serif;
    font-size:2rem;
    color:#DE76AC;
    background-color:#222222;
    border-radius:35px;
    width:fit-content;
    padding: 8px 25px;
}

.ol-cont-galeria li:hover .image-container img {
    filter: grayscale(100%); 
}

.ol-cont-galeria li:hover .image-title {
    opacity: 1; 
}
/*FIN-OTROSPROYECTOS*/

/*GRACIASPORVER*/
.gracias-por-ver {
    padding: 50px 30px 50px 30px;
    background-color: #DE76AC;
    text-align: center;
    color: #190071;
}

.barra-color {
	background-color: #545ff5;
	height: 6px;
}

.graciasporver { 
	background-color:#f5ece3;
	padding: 35px 30px 45px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.graciasporver { 
	background-color:#f5ece3;
	padding: 35px 30px 45px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h4.titulocontacto { 
    font-family: "Nunito", sans-serif;
    font-size: 30pt;
	font-weight: 600;
	color:#ffffff;
	padding: 22px 0px 0px 50px;
}

.redes {
	font-family: "Nunito", sans-serif;
	padding-top: 25px;
}

div a {
	text-decoration: none; 
	color:#FFFFFF;
	font-weight: 300;
	font-family: "Nunito", sans-serif;
	font-size: 24px;
	transition: 0.3s;
}

div a:active {
	color: #fff;
}
/*FIN-GRACIASPORVER*/

/*MISREDES*/
.sectioncontacto {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 32px;
	column-gap: 75px;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #190071;
}

p.redes {
	font-family: "Nunito", sans-serif;
    font-size: 24pt;
    margin:30px;
    color:#ffffff;
    line-height: 40px;
}

div a:hover {
	color: #DE76AC;
}

div a:active {
	color: #fff;
}

.titulocontacto {
    text-align: center;
}

.titulocontacto {
    padding-top: 20px;
    padding-left: 0px;
    max-width: 100%;
    padding-right: 80px;
}

.redes{
    padding-top: 20px;
}

.contenedor-boton-form {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.aside-redes {
    display: none;
}

.contenedor-boton-form {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.boton-formulario {
    font-family:"Nunito", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	background-color: #DE76AC;
	color: #190071;
	padding: 10px 25px;
	border-radius: 35px;
	cursor: pointer;
	margin-top: 15px;
	border: none;
}

.boton-formulario:hover {
	background-color: #ffffff;
    transform:scale(1.1);
    transition: transform 0.5s ease;
}

.aside-redes {
    display: none;
}
/*FIN-MISREDES*/
/* ------------------FINAL-INDEX------------------*/

/* ------------------HTML-TRAYECTORIA------------------*/
.trayectoria {
    background-color:#DE76AC;
    display: flex;
    justify-content: space-around;
    height:auto;
    justify-content: center;
    gap: 70px;
}

.boton-trayectoria {
	font-family:"Nunito", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	background-color: #190071;
	color: #FFFFFF;
	padding: 10px 25px;
	border-radius: 35px;
	cursor: pointer;
	margin-top: 15px;
	border: none;
}

.boton-trayectoria:hover {
	background-color: #DE76AC;
    transform:scale(1.1);
    transition: transform 0.5s ease;
}

.trayectoria h2 {
    background-color: #190071;
}

.caja-izq-trayectoria,
.caja-centro-trayectoria,
.caja-der-trayectoria {
    background: #fff;
    padding: 50px;
    border-radius: 50px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.caja-centro-trayectoria {
    margin-bottom: 800px;
}

.caja-der-trayectoria {
    margin-bottom: 1300px;
}

.trayectoria h2 {
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #190071;
    border-radius: 35px;
    width: fit-content;
    padding: 8px 25px;
    margin-bottom: 30px; 
}

.trayectoria h3 {
    font-family: "Nunito", sans-serif;
    font-size: 22pt;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.trayectoria p {
    font-size: 17pt;
    color: #222222;
    line-height: 1.6;
    margin-top: 15px; 
    margin-bottom: 10px;
}

.trayectoria li {
    font-size: 17pt;
    color: #222222;
    line-height: 1.6;
    margin-bottom: 10px;
}

.trayectoria {
    background-color:#DE76AC;
    display: flex;
    justify-content: space-around;
    height:auto;
    justify-content: center;
    padding: 20px;
    gap: 70px;
}

aside {
    font-family: "Nunito", sans-serif;
    font-size: 15pt;
}

.caja-izq-trayectoria,
.caja-centro-trayectoria,
.caja-der-trayectoria {
    background: #fff;
    padding: 80px;
    border-radius: 50px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.trayectoria h2 {
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #190071;
    border-radius: 35px;
    width: fit-content;
    padding: 8px 25px;
}

.trayectoria h4 {
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-size: 18pt;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.trayectoria li {
    font-size: 17pt;
	color: #222222;
}

.caja-centro-trayectoria {
    height: fit-content;
    padding-bottom: 42px;
}

.caja-der-trayectoria {
    height: fit-content;
    padding-bottom: 42px;
}
/* ------------------FIN-HTML-TRAYECTORIA------------------*/

/* ------------------HTML-CONTACTO------------------*/

.formulario-contacto {
    width: 50%; 
    background-color: #ffffff;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 80px;
    align-items: center;
}

.descripcion-contacto {
    font-size: 45px; 
    color: #ffffff;
    font-weight: 300; 
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: "JetBrainsMono-SemiBold", monospace;
}

.h2-formulario {
    font-size: 96px; 
    color:#190071; 
    font-weight: bold;
    border: 0;
    background-color: #ffffff;
}

.p-boton-form{
	font-family:"Nunito", sans-serif;
	font-size: 22px;
	font-weight: 300;
	line-height: normal;
	color:#ffffff;
	padding-bottom: 80px;
}

.btn {
    font-family: "JetBrainsMono-SemiBold", monospace;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 15px;
}

.btn-primary {
    background-color: #190071;
    color: #ffffff;
    border: none;
}

.btn-secondary {
    background-color: #DE76AC;
    color: #ffffff;
    border: none;
}

.contenedor-campos {
    display: flex;
    gap: 35px;
}

.columna-izq-form, .columna-der-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.botones-formulario {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.contenedor-formulario {
    flex-direction: column;
    background: linear-gradient(270deg, #190071, #DE76AC);
    background-size: 200% 200%;
    animation: backgroundAnimation 6s ease infinite;
    padding: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;      
    height: 100vh;            
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.input-container .mb-3 {
    flex: 1 1 calc(50% - 15px); 
}

.mensaje-container {
    margin-top: 15px;
}

.formulario-con-imagen {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(135deg,#190071, #DE76AC);
    background-size: 200% 200%;
    animation: backgroundAnimation 6s ease infinite;
}

.formulario-con-imagen img {
    width: 100%;
    height: auto;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}

.lineas-position-contacto {
	position: absolute;
	left: -30px;
	top: 70px;
	z-index: 3;
}

.top80px {
	top: 80px;
}

.left70px {
	left: 70px;
}

.pregunta-formulario {
	max-width: 40%;
	z-index: 10;
}

.titulo-form {
	font-family: "Nunito", sans-serif;
	font-size: 70px;
	font-weight: 700;
	color: #190071;
    display: flex;
	padding: 100px 20px 50px 100px;
	margin-right: 20px;
	max-width: 60%;
}

.h3-formulario {
	font-family: "Nunito", sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: #190071;
	display: flex;
	justify-content: flex-start;
}

.zona-formulario {
	background-color: #F5ECE3;
	padding: 25px 50px 50px 50px;
	z-index: 30;
}

.subtitulo-form {
	font-family: "Nunito", sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #190071;
	max-width: 100%;
	margin-bottom: 25px;
}

label {
	font-family: "JetBrainsMono-SemiBold", monospace;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	color: #190071;
}

input {
	font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    border-radius: 35px;
    margin: 5px 0px 30px 0px;
    background-color: #F5ECE3;
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
    color: #190071;
    border: 2px solid #DE76AC;
}

.form-control {
    padding: 10px;
    font-size: 22px;
    border-radius: 25px;
    border: 4px solid #DE76AC;
    display: flex;
    align-items: center;
}

.mensaje-form{
	display: flex;
	flex-direction: column;
}

textarea {
	margin: 5px 0px 20px 0px;
	font-family:  "Nunito", sans-serif;
	font-weight: 400;
	line-height: normal;
	color: #190071;
	background-color: #F5ECE3;
}

.boton-enviar{
	display: flex;
	justify-content: flex-end;
}

.submit {
	font-family: "Nunito", sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: normal;
	color: #F5ECE3;
	background-color: #190071;
    display: flex;
	display: flex;
	justify-content: center;
	cursor: pointer;
	border: none;
	padding: 5px 25px 6px 25px;
	width: 18%;
}

.submit:hover {
	background-color:#190071; ;
}

.lineas-position-contacto {
	position: absolute;
	left: -30px;
	top: 70px;
	z-index: 3;
}

.top80px {
	top: 80px;
}

.left70px {
	left: 70px;
}

.pregunta-formulario {
	max-width: 40%;
	z-index: 10;
}

.titulo-form {
	font-family: "Nunito", sans-serif;
	font-size: 70px;
	font-weight: 700;
	color: #190071;
	padding: 100px 20px 50px 100px;
	margin-right: 20px;
	max-width: 60%;
}

.zona-formulario {
	background-color: #F5ECE3;
	padding: 25px 50px 50px 50px;
	z-index: 30;
}

.mensaje-form{
	display: flex;
	flex-direction: column;
}

.submit {
	font-family: "Nunito", sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: normal;
	color: #ffffff;
	background-color: #190071;
    display: flex;
	justify-content: center;
	cursor: pointer;
	border: none;
	padding: 5px 25px 6px 25px;
	width: 18%;
}
/* ------------------FIN-HTMLCONTACTO------------------*/

/* ------------------HTML-GALERÍADEIMAGENES------------------*/
.contenedor-galeria {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
    background-color:#DE76AC;
}

#galeria img:hover { 
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

@supports (-webkit-touch-callout: none) {
	.galeria {
		min-height: -webkit-fill-available;
		min-height: 100vh;
		}
}

ol[aria-label=Photographs] img {
	display: block;
	max-width: 100%;
	height: auto;
	contain: layout;
}

figure img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	z-index: 300;
}

figcaption, .boton-galeria {
	position: relative;
	bottom: -100px;
	animation: slide-up 1.8s forwards;
}

@keyframes slide-up {
	to {
		bottom: 0;
	}
}

.titulos {
    font-size: 40px;
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-weight: 700;
}

.subtitulos {
    font-size: 30px;
    padding-bottom: 30px;
}

.epigrafe-galeria {
    color: #000000;
    line-height: 20px;
}
/* ------------------FIN-HTMLGALERIA------------------*/

/*------------------ FOOTER------------------ */
footer {
    background-color: #190071;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.copyright {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid white;
    padding: 15px 50px;
    color: white;
    text-align: center;
}

footer p {
    font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 1.5; /* Ajusta este valor para centrar el texto verticalmente */
    margin-bottom: 0; /* Elimina el margen inferior */
}
/*------------------ FIN FOOTER------------------ */