@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
    font-family: "JetBrainsMono-Light";
    src: url(fonts/JetBrainsMono/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url(fonts/JetBrainsMono/JetBrainsMono-SemiBold.ttf);
}

body {
    margin:0;
    overflow-x:hidden;
}

/*HEADER*/
.h-index {
    height:820px;
    background-color: #190071;
}

.h-sobremi {
    background-color: #ffffff;
    margin-bottom: 120px;

}

nav ul li {
    list-style-type: none;
    display:inline;
}

.botonera li a {
    text-decoration: none;
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-weight: bolder;
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding: 8px 60px;
    border-radius: 30px;
    border: 4px solid white;
    transition: black color 0,3s ease, color 0,3 ease;
}

.botonera li a:hover {
    font-weight: bolder;
    color:#190071;
    background-color: #DE76AC;
}

h1 {
    font-family: "JetBrainsMono", monospace;
    font-size: 150px;
    color: #fff;
    margin: 5px;
}

.bolder {
    font-family: "JetBrainsMono-SemiBold", monospace;
}

.botonera {
    padding:30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home {
    align-self: flew-start;
    margin-right:auto;
    padding: 0px 20px;
}

.titular {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*MAIN*/
main {
    background-color: #ffffff;
}

main ul li,
main p {
    font-family: "Nunito", sans-serif;
    font-size: 18pt;
    list-style-type: circle;
    margin:30px;
}


.corazones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.corazones {
    animation:rotate 5s ease;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*SOBRE MI*/

.imagensobremi img {
    width: 400px;
    border-radius: 50px;
    transition:transform 0,5s ease;
    margin-left: 100px;
}

.imagensobremi img:hover {
    transform:scale(1.1);
}

h2 {
    font-family: "JetBrainsMono-SemiBold", monospace;
    font-size:45px;
    color: rgb(255, 255, 255);
    margin: 0;
    border: 4px solid #190071;
    background-color: #DE76AC;
    border-radius:50px;
    text-align: center;
    width:fit-content;
    padding: 8px 25px;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 22pt;
    margin-bottom: 10px;
}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 18pt;
}

aside {
    font-family: "Nunito", sans-serif;
    font-size: 15pt;
}

a {
    text-decoration: none;
}

.descripcion {
    font-family: "Nunito", sans-serif;
    font-size: 16pt;
    line-height: 20pt;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 5px;
    text-align: left;
}

.contenedor {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    margin-bottom: 160px;
}

.descripcion {
    height: 50px;
    width: 1050px;
    margin-right: 20px;
}

/* TRAYECTORIA */

.trayectoria {
    background-color:#DE76AC;
    display: flex;
    justify-content: space-around;
    height:auto;
    justify-content: center;
    gap: 70px;
}

.trayectoria h2 {
    background-color: #190071;
}

.caja-izq-trayectoria,
.caja-centro-trayectoria,
.caja-der-trayectoria {
    background: #fff;
    padding: 50px;
    border-radius: 50px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.caja-centro-trayectoria {
    margin-bottom: 800px;
}

.caja-der-trayectoria {
    margin-bottom: 1300px;
}

/* PROYECTOS */

.proyectos-destacados {
    background-color: #190071;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 40px 57px;
    color: #fff;
}

.cont-proyecto-indiv img {
	width: 40%;
	height: 40%;
    border-radius: 60px;
    margin: 20px 12px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}


.cont-proyecto-indiv img:hover {
    transform: scale(1.08);
}

.cont-proyecto-indiv {
    display: flex;
    padding-bottom: 30px;
    line-height: 15pt;
    flex-direction: column;
}

.caja {
    background: #fff;
    padding: 50px;
    border-radius: 50px;
    width: 400px;
}

/* GRACIAS POR VER */

.gracias-por-ver {
    padding: 20px 30px 30px 40px;
    background-color: #DE76AC;
    text-align: center;
    color: #190071;
}

/* CONTACTAME */

.contactame {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contactame a {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 40px;
}

.titulocontacto {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #190071;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

footer img {
    width: 40px;
    margin: 5px;
}

.copyright {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12pt;
    border-radius: 50px;
    border: 1px solid white;
	padding: 20px 50px 20px 50px; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-left: 50px;
    color: white;
}

footer p {
    font-family: "Nunito", sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #FFFFFF;
    margin-right: 50px;
}










